<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>About</h1>
            <p>Hi, my name is Roy Sun and I made Riconnect as a personal project in my journey to learn web development. It is created using MongoDB, Express, Node, and styled with the help of Bootstrap.</p>
            <p>
                I hope to continue to add more and more features to this website as I learn new technologies and helpful libraries. Currently, 
                I am looking for ways to make the date entry for events more rigid than a simple string. I've been tinkering around with a library called MomentJS, but I'm not sure if I can get it to do what I want.
                I also found a jQuery datepicker that displays a neat calendar for date entries. 
                In the future, I would like to somehow order the comments by the event date rather than the submission date, and automatically delete events that have finished. It's a lot of work, but I
                will try my best to find time and implement them!
            </p>
        </div>
    </div>
   
</div>

<% include partials/footer %>